
@{
    ViewBag.Title = "calculator";
}

<header>
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">

        </div>
        <div class="col-lg-3">
            <i class="sprite2 sprite-logout-icon pull-right"></i>
        </div>
    </div>
</header>
<div class="body-div bg-common calci-scr">
    <div class="calci-scr-inner">
        <div class="display-table">
            <div class="display-tablecell">
                <div>
                    <h1>CALCULATOR</h1>
                    <!--<img src="content/images/progress-bar1.png" class="img-responsive">  -->
                    <div class="progress">
                        <div class="wid-33"><span></span></div>
                        <div class="wid-33"><span></span></div>
                        <div class="wid-33"><span></span></div>
                    </div>
                    <div class="div-next">
                        <a><i class="sprite sprite-arr-next"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

