
@{
    ViewBag.Title = "ChooseOption";
}

<header>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <i class="sprite2 sprite-logout-icon pull-right"></i>
        </div>
    </div>
</header>
<div class="body-div bg-common calc-hist-optn-page">
    <div class="calc-hist-optn-page-inner">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right display-table">
                <div class="display-tablecell">
                    <div class="calc-icon-div pull-right">
                        <span class="bg-icon-img"></span>
                        <h4>calculate</h4>
                        <span class="brder-btm"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left display-table">
                <div class="display-tablecell">
                    <div class="hist-icon-div pull-left">
                        <span class="bg-icon-img"></span>
                        <h4>history</h4>
                        <span class="brder-btm"></span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

