

    <div class="body-div bg-common bg-login">
        <div class="bg-login-inner">
            <div class="login-container">
                <div class="logo-img">
                    <img src="~/content/images/logo-desktop.png" class="img-responsive">
                </div>
                <h2><span>Endoscopy</span> Calculator</h2>
                <div class="form">
                    <form>
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left checkboxdiv">
                                <input type="checkbox" id="c1" name="cc"><label for="c1"><span></span>Remember me</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <label><a>Forgot password?</a></label>
                            </div>
                        </div>

                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

