<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--loading bootstrap css-->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />

    <!--loading scrollbar css-->
    <link href="~/content/css/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!--loading custom css-->
    <link href="~/content/css/site.css" rel="stylesheet" />

    <!--loading google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

</head>
<body>
    <script src="~/content/js/jquery.min.js"></script>
    @RenderBody()

  
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/content/js/custom.js"></script> 
</body>
</html>
